.bold{
    font-weight: bold;
}

.green{
    background-color:rgb(85, 223, 177) ;
}

.green2{
    background-color:rgb(85, 223, 177) ;
}

.border{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.square{
    height: 150px;
    background-color: brown;
}
.bk-nav{
    background-color: rgb(61, 61, 80);
}

.footer{
    background-color: rgb(62, 62, 95);
}



.white{
    color: white;
}


/*le classi sopra da rivedere tutte  */


.line_x{
    border: 1px solid white;
    background-color: white;
    border-radius: 1em;
    height: 3px;
    width: 60px;
    margin-bottom: 5px;
}

.line_xb{
    border: 1px solid black;
    background-color: black;
    border-radius: 1em;
    height: 3px;
    width: 60px;
    margin-bottom: 5px;
}