.bold{
    font-weight: bold;
}

.green{
    background-color:rgb(85, 223, 177) ;
}

.border{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.square{
    height: 150px;
    background-color: brown;

}
.bk-nav{
    background-color: rgb(61, 61, 80);
}

.white{
    color: white;
}